AIRFLOW_UID=50000

# Airflow metadata DB (internal, don't touch)
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=airflow

# Your data warehouse (separate Postgres)
WAREHOUSE_DB=weather
WAREHOUSE_USER=weather_user
WAREHOUSE_PASSWORD=weather_pass
WAREHOUSE_PORT=5433

# OpenWeatherMap
OWM_API_KEY=OWM_API_KEY